.color-me{
    color: black;
}
.container{
    background-color: blue;
}
.navbar-nav li a {
    color: green !important;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}