<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/Logo.jpg" alt="" style="width: 70px;" class="rounded"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a *ngIf="!_userService.isLoggedIn()" class="nav-link color-me " routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!_userService.isLoggedIn()" class="nav-link color-me" routerLink="/staff">Staff</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="!_userService.isLoggedIn()" class="nav-link color-me " routerLink="/global-information">Global Information</a>
                </li>
                <li *ngIf="!_userService.isLoggedIn()" [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link color-me" routerLink="/login">Login</a>
                </li>
                <li *ngIf="!_userService.isLoggedIn()" [routerLinkActive]="['active']" class="nav-item">
                    <a class="nav-link color-me " routerLink="/signup">Sign up</a>
                </li>
                <li *ngIf="_userService.isLoggedIn()" [routerLinkActive]="['active']" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">My Application</a>
                    <div class="dropdown-menu">
                        <a routerLink="/profile" class="dropdown-item">Application</a>
                        <a routerLink="/chatting" class="dropdown-item">Chatting</a>
                    </div>
                </li>
                <li *ngIf="_userService.isLoggedIn()">
                    <a href="#" (click)="onLogOutClicked()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>