<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/Logo.jpg" alt="" style="width: 70px;" class="rounded"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
              
            <li class="nav-item">
                <a class="nav-link color-me " routerLink="/home">Home</a>
            </li>

           
    
    
          

    
          <li class="nav-item">
                <a class="nav-link color-me" routerLink="/staff">Staff</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link color-me " routerLink="/global-information">Global Information</a>
            </li>

            <li class="nav-item">
                <a class="nav-link color-me" routerLink="/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link color-me " routerLink="/signup">Sign up</a>
            </li>
    
            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" routerLink="/chatting" routerLink="/profile" data-toggle="dropdown">My Application</a>
                <div class="dropdown-menu">
                    <a routerLink="/My Profile" class="dropdown-item">Profile</a>
                    <a routerLink="/chatting" class="dropdown-item">Chatting</a>
                </div>
            </li>
    

            
            
            </ul>
        </div>
      </nav>
      
    </div>
