<div class="container">
    <h4 style="color: green;">Contact Dietitian / Coach</h4>
    <form (submit)="onSendMessage()" class="d-flex flex-column">
        <div class="input-group my-1 d-flex flex-column">
            <label> Name </label>
            <input type="text" placeholder="Enter your name" class="input-groups" [(ngModel)]="name" name="name" />
        </div>
        <div class="input-group my-1 d-flex flex-column">
            <label>Email </label>
            <input type="text" placeholder="Enter your Email" class="input-groups" [(ngModel)]="email" name="email" />
        </div>
        <label> Subject </label>
        <select class="custom-select mb-3" (change)="changeSubject($event)" formControlName="selectedSubject">
            <option value="">Choose Subject</option>
            <option *ngFor="let subject of Subject" [ngValue]="subject">
                {{ subject }}
            </option>
        </select>
        <div class="input-group my-1 d-flex flex-column">
            <label> Message </label>
            <textarea type="text" placeholder="Enter your message" class="input-groups" [(ngModel)]="message"
                name="message"></textarea>
        </div>
        <div class="input-group my-1 d-flex flex-column">
            <button class="btn btn-success send-msg" type="submit">Send Message</button>
            <br>
        </div>
    </form>
</div>