<div class="container">
<h4 style="color: green;">Do you want your Dietitian or Coach?</h4>
<h6>Select a Dietitain</h6>
<form action="page.php" method="post"></form>
    <select name="Dietitians">
    <option>Dietitians</option>  
    <option>Jane Doe</option>
    <option>Sarah Smith</option>
    <option>Mary Mickel</option>
    </select>
    <br>
    <br>
    <h6>Select a Coach</h6>
    <form action="page.php" method="post"></form>
    <select name="Coaches">
    <option>Coaches</option> 
    <option>John Smith</option>
    <option>Mike Ross</option>
    <option>Liam James</option>
    </select>
    <br>
    <hr>
</div>
