<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Global Information</title>
</head>
<body>

<div class="container">
<h1 style="color:#e61717 ;">Nutrition Latest News!</h1>
<hr>

<i><h4 style="color:#286bde ;">Call for papers: Cross journal collection on Nutrition, Physical Activity and Aging</h4></i>
<p>Nutrition & Metabolism is calling for papers as part of a cross journal collection themed on Nutrition, Physical Activity and Aging. Participating journals include Nutrition Journal, Nutrition & Metabolism, European Review of Aging and Physical Activity, and BMC Geriatrics. The submission deadline is 31 Dec 2021. </p>
<a href="https://nutritionandmetabolism.biomedcentral.com/?gclid=Cj0KCQjw8_qRBhCXARIsAE2AtRYr5IbIVKLNsYQb9IHeCdHuuDwQ-H8_LjLqKEiBKnbwlX-H9JRFIP8aAvUrEALw_wcB" class="btn btn-warning ">See whole Articil</a>
<br>
<hr>

<i><h4 style="color:#286bde ;">Featured collection: Special issue on Precision Nutrition</h4></i>
<p>Nutrition & Metabolism has published a special issue on Precision Nutrition in 2020. Co-guest-edited by Dr Martha Field and Dr Anna Thalacker-Mercer from University of Cornell in the USA, the special issue is dedicated to improving our knowledge in precision nutrition.</p>
<a href="https://nutritionandmetabolism.biomedcentral.com/?gclid=Cj0KCQjw8_qRBhCXARIsAE2AtRYr5IbIVKLNsYQb9IHeCdHuuDwQ-H8_LjLqKEiBKnbwlX-H9JRFIP8aAvUrEALw_wcB" class="btn btn-warning ">See whole Articil</a>
<br>
<hr>

<i><h4 style="color:#286bde ;">Diet During Pregnancy</h4></i>
<p>The increase in the consumption of foods with a higher degree of processing is associated with a more proinflammatory potential of the maternal diet.</p>
<a href="https://www.webmd.com/women/features/pregnant-daily-diet" class="btn btn-warning ">See whole Articil</a>
<br>
<hr>

<i><h4 style="color:#286bde ;">The plant milk shake-up: Pea and pistachio join oat and almond</h4></i>
<p>Plant-based milks are all made the same way: nuts, beans, or grains are ground into pulp, strained, and combined with water. You end up with only a small percentage of the actual plant — less than 10% for most brands. Nutrients like vitamin D, calcium, potassium, and protein are added in varying amounts. "Still, many alternative milks have similar amounts of these nutrients compared with cow’s milk," says Dr. Walter Willett, professor of epidemiology and nutrition at the Harvard T.H. Chan School of Public Health.</p>
<a href="https://www.health.harvard.edu/blog/the-plant-milk-shake-up-pea-and-pistachio-join-oat-and-almond-202203232711" class="btn btn-warning ">See whole Articil</a>
<br>
<hr>

<i><h4 style="color:#286bde ;">Institute for Integrative Nutrition (IIN)</h4></i>
<p>n IIN education is a key foundational step for successful wellness entrepreneurs and coaches like Miranda to live a life they love while being of service. IIN, the world's leading online health and nutrition school, empowers individuals to take control of their own health, careers, and lives. Graduates of IIN's Health Coach Training Program not only have the opportunity to create their own careers in wellness and coaching – serving others, but also have the ability to transform their own lives, bodies and minds.</p>
<a href="https://finance.yahoo.com/news/institute-integrative-nutrition-iin-partners-210100697.html?guccounter=1&guce_referrer=aHR0cHM6Ly9zZWFyY2guYWN0aXZlYmVhdC5jb20vc2VycD9xPWxhdGVzdCtuZXdzK29uK2hlYWx0aCthbmQrbnV0cml0aW9uJnNlZ21lbnQ9YWN0aXZlMyZzMWFpZD02NDcwNDgxNTExJnMxY2lkPTEyMzQ1ODMwMTI1JnMxYWdpZD0xMTc3NDI2NzEyNDUmczFraWQ9ZHNhLTUzMjcxMDU1MDc3JnV0bV9zb3VyY2U9YWR3b3JkcyZjYXRlZ29yeT1IZWFsdGgmZ2NsaWQ9Q2owS0NRanc4X3FSQmhDWEFSSXNBRTJBdFJhT2ZtVkpja1gyQ0Q5aHRaRWl4UGZvMjhpSTdQYjJIWXRRX095bHhwLWpMS1hESHc5WG9jZ2FBaEx0RUFMd193Y0I&guce_referrer_sig=AQAAALWhgTW32UCo2kEBAyx2X_-_yk9TxCcBl-fEwD8uYlxGIF75Wtu7Fe-vIneN_MvGwjjcn5tAd1qehIdOlK1qrauD9yAdbKUOnTxTtUP10-TO0MSujPRy0mVbRDTUqsF3_KwJz485NQVFjWr-WUtuv2PPv1IrffHfg9PkVhd6bbPd" class="btn btn-warning ">See whole Articil</a>
<br>
<hr>
<br>
<h4 style="color: green;">If you have any new news let us know!</h4>
<div id="msg"></div>
<button type="button" class="btn btn-dark " data-toggle="modal" data-target="#modalNewPerson">Add News </button>
<div class="modal fade" id="modalNewPerson" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<form action="">

<div class="form-group">
<label for="FN">Type your news here</label>
<input type="text" id="FN" class="form-control">
</div>
<div class="form-group">
<button type="button" class="btn btn-dark" id="btnAdd">Add</button>
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<script>
    $(document).ready(function(){
        $("#btnAdd").click(function(){
            $("#modalNewPerson").modal("hide");
            $("#txtFN").val('');
         /*  $("#msg").html('<div class="alert alert-success alert-dismissible">'+
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                        '<strong>Your News will be reviwed by our Team.</strong> </div>');*/  
            $("#msg").html('<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>'+
                        '<strongYour News will be reviwed by our Team.</strong>');
            $("#msg").addClass("alert alert-success alert-dismissible");

        });
    });
</script>
        
        <br>
      <hr>
    </div></body>
  