<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Global Information</title>
</head>

<body>

    <div class="container">
        <h1 style="color:green ;">Nutrition Latest News!</h1>
        <hr>

        <i>
            <div  id="GI">
            <img src="../../assets/images/GI1.jpg" alt="" style="width: 120px; height: 100px;" class="rounded">
            <img src="../../assets/images/Space.png" alt="" style="width: 10px; height: 100px;" class="rounded"></div>
            <h4 style="color:black ;">Call for papers: Cross journal collection on Nutrition, Physical Activity and
                Aging</h4>
               
        </i>
        <p>Nutrition & Metabolism is calling for papers as part of a cross journal collection themed on Nutrition,
            Physical Activity and Aging. Participating journals include Nutrition Journal, Nutrition & Metabolism,
            European Review of Aging and Physical Activity, and BMC Geriatrics. The submission deadline is 31 Dec 2022.
        </p>
        <a href="https://nutritionandmetabolism.biomedcentral.com/?gclid=Cj0KCQjw8_qRBhCXARIsAE2AtRYr5IbIVKLNsYQb9IHeCdHuuDwQ-H8_LjLqKEiBKnbwlX-H9JRFIP8aAvUrEALw_wcB"
            class="btn  ">See whole Article</a>
        <br>
        <hr>

        <i>
            <div  id="GI">
            <img src="../../assets/images/GI2.jpg" alt="" style="width: 120px; height: 100px;" class="rounded">
            <img src="../../assets/images/Space.png" alt="" style="width: 10px; height: 100px;" class="rounded"></div>
            <h4 style="color:black;">Featured collection: Special issue on Precision Nutrition</h4>
        </i>
        <p>Nutrition & Metabolism has published a special issue on Precision Nutrition in 2020. Co-guest-edited by Dr
            Martha Field and Dr Anna Thalacker-Mercer from University of Cornell in the USA, the special issue is
            dedicated to improving our knowledge in precision nutrition.</p>
        <a href="https://nutritionandmetabolism.biomedcentral.com/?gclid=Cj0KCQjw8_qRBhCXARIsAE2AtRYr5IbIVKLNsYQb9IHeCdHuuDwQ-H8_LjLqKEiBKnbwlX-H9JRFIP8aAvUrEALw_wcB"
            class="btn ">See whole Article</a>
        <br>
        <hr>

        <i>
            <div  id="GI">
            <img src="../../assets/images/GI3.jpg" alt="" style="width: 120px; height: 100px; " class="rounded">
            <img src="../../assets/images/Space.png" alt="" style="width: 10px; height: 100px;" class="rounded">
        </div>
            <h4 style="color:black ;">Diet During Pregnancy</h4>
        </i>
        <p>The increase in the consumption of foods with a higher degree of processing is associated with a more
            proinflammatory potential of the maternal diet. To maintain a healthy pregnancy, approximately 300 extra calories are needed each day. These calories should come from a balanced diet of protein, fruits, vegetables and whole grains. Sweets and fats should be kept to a minimum.</p>
        <a href="https://www.webmd.com/women/features/pregnant-daily-diet"
         class="btn  ">See whole Article</a>
        <br>
        <hr>

        <i>
            <div  id="GI">
            <img src="../../assets/images/GI4.jpg" alt="" style="width: 120px; height: 100px;" class="rounded">
            <img src="../../assets/images/Space.png" alt="" style="width: 10px; height: 120px;" class="rounded">
        </div>
            <h4 style="color:black ;">The plant milk shake-up: Pea and pistachio join oat and almond</h4>
        </i>
        <p>Plant-based milks are all made the same way: nuts, beans, or grains are ground into pulp, strained, and
            combined with water. You end up with only a small percentage of the actual plant — less than 10% for most
            brands. Nutrients like vitamin D, calcium, potassium, and protein are added in varying amounts. "Still, many
            alternative milks have similar amounts of these nutrients compared with cow’s milk, says Dr. Walter
            Willett, professor of epidemiology and nutrition at the Harvard T.H. Chan School of Public Health.</p>
        <a href="https://www.health.harvard.edu/blog/the-plant-milk-shake-up-pea-and-pistachio-join-oat-and-almond-202203232711"
            class="btn  ">See whole Article</a>
        <br>
        <hr>

        <i>
            <div  id="GI">
            <img src="../../assets/images/GI5.jpg" alt="" style="width: 100px;" class="rounded">
            <img src="../../assets/images/Space.png" alt="" style="width: 10px; height: 120px;" class="rounded">
        </div>
            <h4 style="color:black ;">Institute for Integrative Nutrition (IIN)</h4>
        </i>
        <p>IIN education is a key foundational step for successful wellness entrepreneurs and coaches like Miranda to
            live a life they love while being of service. IIN, the world's leading online health and nutrition school,
            empowers individuals to take control of their own health, careers, and lives. Graduates of IIN's Health
            Coach Training Program not only have the opportunity to create their own careers in wellness and coaching –
            serving others, but also have the ability to transform their own lives, bodies and minds.</p>
        <a href="https://finance.yahoo.com/news/institute-integrative-nutrition-iin-partners-210100697.html?guccounter=1&guce_referrer=aHR0cHM6Ly9zZWFyY2guYWN0aXZlYmVhdC5jb20vc2VycD9xPWxhdGVzdCtuZXdzK29uK2hlYWx0aCthbmQrbnV0cml0aW9uJnNlZ21lbnQ9YWN0aXZlMyZzMWFpZD02NDcwNDgxNTExJnMxY2lkPTEyMzQ1ODMwMTI1JnMxYWdpZD0xMTc3NDI2NzEyNDUmczFraWQ9ZHNhLTUzMjcxMDU1MDc3JnV0bV9zb3VyY2U9YWR3b3JkcyZjYXRlZ29yeT1IZWFsdGgmZ2NsaWQ9Q2owS0NRanc4X3FSQmhDWEFSSXNBRTJBdFJhT2ZtVkpja1gyQ0Q5aHRaRWl4UGZvMjhpSTdQYjJIWXRRX095bHhwLWpMS1hESHc5WG9jZ2FBaEx0RUFMd193Y0I&guce_referrer_sig=AQAAALWhgTW32UCo2kEBAyx2X_-_yk9TxCcBl-fEwD8uYlxGIF75Wtu7Fe-vIneN_MvGwjjcn5tAd1qehIdOlK1qrauD9yAdbKUOnTxTtUP10-TO0MSujPRy0mVbRDTUqsF3_KwJz485NQVFjWr-WUtuv2PPv1IrffHfg9PkVhd6bbPd"
            class="btn  ">See whole Article</a>
        <br>
        <br>
    </div>
</body>