<div class="container">
    <h4 style="color: green;">My Application</h4>
    <hr>
    <h5 style="color: aquamarine;">Select a Dietitain</h5>
    <form action="page.php" method="post"></form>
        <select name="Dietitians">
        <option>Dietitians</option>  
        <option>Jane Doe</option>
        <option>Sarah Smith</option>
        <option>Mary Mickel</option>
        </select>
        <br>
        <hr>
        <h5 style="color: aquamarine;">Select a Program</h5>
        <input type="checkbox" name="Programs" value="Meal">
        Personalized meal plan
        <br>
        <input type="checkbox" name="Info" value="Info">
        Information and tips
        <br>
        <input type="checkbox" name="Sup" value="Sup">
        Encouragement and support
        <br>
        <input type="checkbox" name="Progress" value="Progress">
        Tracking progress
        <br>
        <hr>
        <h5 style="color: aquamarine;">Select a Coach</h5>
        <form action="page.php" method="post"></form>
        <select name="Coaches">
        <option>Coaches</option> 
        <option>John Smith</option>
        <option>Mike Ross</option>
        <option>Liam James</option>
        </select>
        <br>
        <hr>
        <h5 style="color: aquamarine;">Select a Class</h5>
        <input type="radio" name="morning" value="morning">
      Morning Class: 10:00 A.M
    <br>
    <h5 style="color: aquamarine;">Select a Class</h5>
        <input type="radio" name="noon" value="noon">
      Noon Class: 4:00 P.M
    <br>
    <h5 style="color: aquamarine;">Select a Class</h5>
        <input type="radio" name="noon" value="noon">
      Evening Class: 7:00 P.M
    <br>
        <hr>
        <div class="form-group">
            <button type="button" class="btn btn-dark" id="btnAdd">Submit</button>
            </div>
    </div>
    
