#collapsibleNavbar{
    border-style: dashed;
    border-color: green;
    background-color: rgb(99, 194, 99);
  
}
.navbar-toggler .navbar-toggler-icon{
background-color: green;
}
.color-me{
    color: black;
}

