<div class="container-fluid">
    <h1>Dietitians</h1>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/Jane.jpg" alt="Jane" style="width:100%" height="265px">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">Food Dietitian</p>
          <p>Dr.Jane can provide you with answers to all your nutrition-related medical problems. She also offers nutritional consultations, body composition tests, and personalized diet plans.She also gives individualized diet programs deliver food for weight loss, therapeutic, detox, low -cal, or high protein diets.</p>
          <p>jane.doe@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/Sarah Smith.jpg" alt="Sarah" style="width:100%" height="265px">
        <div class="container">
          <h2>Sarah Smith</h2>
          <p class="title">Food Dietitian and Meal Planner</p>
          <p>Dietitian Sarah Smith, offers nutrition counseling and services by a variety of skills and knowldege.She has empowered hundreds of patients to make positive choices by our well-balanced eating plans. She is an expert and well-known for her long experience in giving always the best choices for her patients health.
        </p>
          <p>sarah.smith@hotmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/Marry Mikel.jpg" alt="Marry" style="width:100%" height="265px">
        <div class="container">
          <h2>Mary Mickel</h2>
          <p class="title">Nutritionest and Food Expert</p>
          <p>Instead of focusing on dieting,Dr.Marry helps each patient create a healthy lifestyle by taking into account dietary preferences, food likes and dislikes, allergies, and medical conditions. Each patient of hers will be educated on proper nutrition, and learn the elements of a healthy lifestyle.
        </p>
          <p>mary.mikel@outlook.com</p>
         
        </div>
      </div>
    </div>
  </div>
<br><br><br>
  <h1>Coaches</h1>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/images/John.jpg" alt="John" style="width:100%" height="265px">
        <div class="container">
          <h2>John Smith</h2>
          <p class="title">Fitness Coach</p>
          <p>Coach John Smith combines a systematic coaching process and personal training (or fitness instruction) to empower clients to develop a fit lifestyle as well as the ability and self- confidence to maintain a fit lifestyle.He is an expert in giving always the best choices for his patients bodies.</p>
          <p>john.smith@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/Mike Ross.jpg" alt="Mike" style="width:100%" height="265px">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title"> Gym and Fitness Coach</p>
          <p>Professional coach Mike is a professional in the field of fitness and exercise, most often instruction (fitness instructor), including professional sports club's fitness trainers and aerobics and yoga instructors and authors of fitness instruction books or manuals.He is well-known in his field.
        </p>
          <p>mike.rossh@hotmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/images/Liam.jpg" alt="Liam" style="width:100%" height="265px">
        <div class="container">
          <h2>Liam James</h2>
          <p class="title">Building Bodies Expert</p>
          <p>Coach Liam is an expert in gving instruction, direction and training a sports team or individual sportspeople to develop their skills and helps people to reach their personal health and fitness targets.He also assists you in achieving the level of body strength you want at home or anywhere you want to work out.
        </p>
          <p>liam.james@outlook.com</p>
         
        </div>
      </div>
    </div>
  </div>
</div>