<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
            <img src="../../assets/images/LS.jpg" alt="" style="width: 400px;">
            <img src="../../assets/images/Quotes.jpg" alt="" style="width: 400px">
            <img src="../../assets/images/Preg.jpg" alt="" style="width: 400px;">
            <br>
            <img src="../../assets/images/BF.jpg" alt="" style="width: 450px;" height="450px">
            <img src="../../assets/images/BAC.jpg" alt="" style="width: 400px">
            <img src="../../assets/images/FAG.jpg" alt="" style="width: 400px" >

      <h1 style="color: green;">Subscriptions: <br>
            <h3 style="color: lightgreen;">20$/month</h3>
            <h3 style="color: lightgreen;" >100$/year</h3>
            <br>
            <h1 style="color: green;"> Programs included:</h1>
            <h4 style="color: lightgreen;">Personalized meal plan</h4>
            <h4 style="color: lightgreen;">  Information and tips</h4>
            <h4 style="color: lightgreen;" >Encouragement and support</h4>
            <h4 style="color: lightgreen;">   Tracking progress</h4>
        </h1>
     </div>
     </div>
        
    